* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

body {
    font-family: 'Poppins', monospace;
}

html {
    font-size: 100%;
}

input {
    -webkit-border-radius:0px;
}

.grid-container {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: 1fr minmax(100px,510px) minmax(100px,510px) 1fr;
    grid-template-rows: 1fr minmax(150px, 700px) minmax(150px, 700px) 1fr;
    height: 100vh;
}

.grid-item {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

div.grid-container > div:nth-child(1) {
    background-color: #89b795;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: auto;
}

div.grid-container > div:nth-child(2) {
    background-color: #91bed9;
    grid-column-start: 3;
    grid-row-start: 2;
}

div.grid-container > div:nth-child(3) {
    background-color: #f49bb2;
    grid-column-start: 2;
    grid-row-start: 3;
}

div.grid-container > div:nth-child(4) {
    background-color: white;
    border: 1px solid black;
    grid-column-start: 3;
    grid-row-start: 3;
}

.grid-item > h3 {
    font-family: 'Rubik';
    font-size: calc(0.9rem + 2vw);
    font-weight: 400;
    margin: 0;
    margin-top: 0.5rem;
}

.grid-item > p {
    font-size: calc(2rem + 2vw);
    font-weight: 600;
    margin: 0;
    /* background-color: green; */
}

.inline-buttons {
    /* Removes spaces between child buttons */
    font-size: 0;
    /* background-color: red; */
}

.inline-buttons > input[type=button] {
    /* font-family: 'Segoe UI Symbol' !important; */
    font-size: calc(1rem + 2vw);
    font-weight: 600;
    width: 40%;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid black;
}

.inline-buttons > button {
    font-size: calc(0.5rem + 2vw);
    color: black;
    font-weight: 600;
    width: 40%;
    border: none;
    background-color: transparent;
    padding: 5px;
    border-bottom: 3px solid black;
}

#bar {
    width: 80%;
    border-top: 3px solid black;
    margin: auto;
}

#start-button {
    width: 80%;
}

/* Only only use hover when there is no touchscreen */
@media(hover: hover) and (pointer: fine) {
    .inline-buttons > input[type=button]:hover {
        background-color: black;
        color: white;
    }

    .inline-buttons > button:hover {
        background-color: black;
        color: white;
    }
}

/* #water-weight {
    font-size: calc(2.2rem + 3vw);
    font-weight: 600;
    margin: 0;
    background-color: transparent;
    border: none;
} */

/* For removing arrows in number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* .fas {
    font-size: calc(1.5rem + 3vw);
} */
